<div class="wiki">

  <h2>You have successfully installed the Redmine BitBucket Hook Plugin.</h2>

  <p>
    This page is just a confirmation that you have successfully installed the plugin.
    Follow the rest of the installation:
    <a href="https://github.com/milkfarm/redmine_bitbucket_hook" class="external">
      Redmine BitBucket Hook Plugin
    </a>
  </p>

</div>
